.collabs {
  padding: 4rem 10rem;
  background: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.collabs h1 {
  /* font-size: 2em; */
  color: #00838a;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.collabs img {
  width: 10%;
  margin: 2em;
  /* background-color: royalblue; */
}

.collabs__container {
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(4, 1fr); */
  justify-content: center;
  /* max-width: 600px; */
  /* width: 90%; */
  /* margin: 0 auto; */
}

hr {
  size:2; 
  /* width: 100%;  */
}

/* @media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
} */

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
