.collabs {
  padding: 4rem 10rem;
  background: #fff;
  justify-content: center;
  align-items: center;
}

.collabs h3 {
  /* font-size: 2em; */
  color: #00838a;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 10%;
  margin: 2em;
}

.collabs__container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  /* max-width: 1120px; */
  width: 90%;
  margin: 0 auto;
}

hr {
  size:2; 
  /* width: 90%;  */
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
