.community {
  width: 80%;
  /* justify-content: center; */
  /* align-items: center; */
}

.community-title h1{
  font-size:6em;
  float: left;
  color: #00838a;
  margin:1em 0;
  text-align: left;
  line-height: 1em;
}

.community-desc{
  float: right;
  margin:1em;
  text-align: left;
  width: 70%;
  margin-bottom: 2em;
}

.community-desc p{
  font-size: 1.5em;
  line-height: 1.4em;
  text-align: justify;
}

@media screen and (max-width: 1024px) {
  .community-title h1 {
    font-size: 3em;
  }

  .community-desc p{
    font-size: 1em;
  }
}