.app-container {
  padding: 0 10em;
}

.App {
  /* text-align: center; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.flip-container {
  margin-bottom: 1em;
}

.flip-container h1 {
  font-size: 7em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


