@import "../solutionsList/global.scss";

.solutionsList {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin: 15px;
  padding: 10px 70px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid $mainColor;

  @include mobile{
    margin-right: 20px;
  }

  &.active {
    background-color: $mainColor;
    color: white;
  }
}
